<footer role="contentinfo">
    <p class="footy-link">Powered By MuffinMan ® <span><i class="fas fa-cookie-bite"></i></span><span><i class="fas fa-child"></i></span> All Data Provided By <a target="_blank" class="footy-link" href="https://www.football-data.org/"><i>football-data.org</i></a></p>
</footer>
