<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
                <i class="far fas fa-futbol fa-2x"></i>
                <h1 class="header" role="heading">EPL Predictor Game</h1>

        </div>

    </div>
</nav>
