* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFA;
}

.header {
    font-family: 'Francois One', sans-serif;
    margin: 0;
    padding-top: 7px;
    padding-left: 7px;
    text-align: left;
}

input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 3px solid #0F5257;
}

input[type=password] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 3px solid #0F5257;
}

.btn {
    margin-top: 50px;
}

.success {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Francois One', sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

legend {
    font-family: 'Francois One', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

.text-center {
    width: 90%;
    font-family: 'Francois', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
}

.text-center {
    margin-top: 75px;
    margin-bottom: 75px;
}

fieldset {
    padding: 0;
    border: none;
}

table {
    font-size: 75%;
    /* font-weight: 300; */
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 97%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

td, th {
    border: 1px solid #0F5257;
    text-align: center;
    padding: 5px;
}

.thin-col {
    width: 10%;
}

tr:nth-child(even) {
    color: #FFFFFA;
    background-color: #0F5257;
}

.far {
    color: #FFFFFA;
    float: right;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
}

.navbar-header {
    color: #FFFFFA;
    background-color: #004080;
    margin-top: 0;
}

footer {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    left: 20px;
}

.footy-link {
    color: black;
}

a.button {
    text-decoration: none;
    text-align: center;
    width: 90%;
    background-color: #FFFFFA;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    border: 5px;
    border-radius: 5px;
    border-color: #004080;
    color: #0B3142;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

a {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
  width: 175px;
  height: 40px;
  color: #FFFFFA;
  background-color: #0F5257;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  font-size: 100%;
  font-weight: bolder;
  padding: 6px 10px 24px;
  border-radius: 3px;
  transition-property: color, #29E7CD;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* html {
  background-color: #1a1a1a;
  overflow: hidden;
} */

/* input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .box {
  background-color: #007e90;
}
input[type="radio"]:checked + .box span {
  color: white;
  /* transform: translateY(70px);
}
input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.box {
  height: 80%;
  width: 80%;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Francois One", sans-serif;
  font-weight: 900;
}
.box:active {
  transform: translateY(10px);
}
.box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 80%;
  user-select: none;
  color: #007e90;
}
.box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.box-1 span:before {
  content: '\f121';
}
.box-3 span:before {
  content: '\f0f4';
}
.fade p {
  color: #fff;
  font-family: "Francois One", sans-serif;
}
.fade p span:after {
  content: '\f0e7';
  font-family: FontAwesome;
  color: yellow;
} */

@media screen and (min-width: 479px) and (max-width: 991px) {
    table {
        font-weight: 300;
        max-width: 70%;
        font-size: 75%;
    }
}

@media screen and (min-width: 991px) {
    table {
        font-weight: 600;
        max-width: 35%;
        font-size: 90%;
    }
}
