* {
    box-sizing: border-box;
}

body {
   background-image: url(https://img.gossipper.com/hsi/aHR0cHM6Ly9zMy1ldS1jZW50cmFsLTEuYW1hem9uYXdzLmNvbS9jZW50YXVyLXdwL2NyZWF0aXZlcmV2aWV3L3Byb2QvY29udGVudC91cGxvYWRzLzIwMTYvMDIvUHJlbWllcl9MZWFndWVfUmVicmFuZHNfRGVzaWduU3R1ZGlvXzAzLmpwZw==/images/Premier_League_Rebrands_DesignStudio_03.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

.header {
    background-color: #004080;
    color: #FFFFFA;
    font-family: 'Francois One', sans-serif;
    margin: 0;
    padding-left: 7px;
    text-align: left;
}

.alert {
    color: #b80c09;
    text-align: center;
    font-weight: 900;
}

.blurb {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
}

.dropbtn {
    border: none;
    cursor: pointer;
    top: 50px;
}

.dropdown {
    width: 100px;
    height: 90px;
    float: right;
    top: 50px;
    position: relative;
    display: block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -45px;
    top: 90px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #6daedb}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #004080;
}

input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 3px solid #004080;
    padding: 5px;
}

input[type=password] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 3px solid #004080;
    padding: 5px;
}

.header-link {
    padding-top: 15px;
    color: #FFFFFA;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 100px;
    margin-left: 10px;
}

.success-container {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.8);
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.success {
    text-align: center;
    margin-bottom: 20px;
    padding: 7px;
}

.sub-nav {
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: 'Francois One', sans-serif;
    text-align: center;
    /* margin-top: 45px; */
    /* margin-bottom: 25px; */
}

legend {
    font-family: 'Francois One', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

.text-center {
   width: 50%;
   font-family: 'Baloo', sans-serif;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   font-weight: 900;
   margin-top: 75px;
   margin-bottom: 75px;
   background-color: rgba(255,255,255,0.8);
   border-radius: 10px;
   padding: 50px;
}

fieldset {
    padding: 0;
    border: none;
}

table {
    font-size: 75%;
    /* font-weight: 300; */
    /* font-family: arial, sans-serif; */
    background-color: rgba(255,255,255,0.8);
    width: 90%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-spacing: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}

td, th {
    border: 1px solid #004080;
    text-align: center;
    padding: 5px;
}

.thin-col {
    width: 10%;
}

tr:nth-child(even) {
    color: #FFFFFA;
    background-color: #004080;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.far {
    color: #FFFFFA;
    position: relative;
    left: 30px;
    top: -15px;
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
}

i.profile {
    padding: 15px;
}

.navbar-header {
    height: 140px;
    color: #FFFFFA;
    background-color: #004080;
    margin-top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.footy-link {
    color: black;
    display: block;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}

a.button {
    font-family: 'Baloo', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 90%;
    background-color: #FFFFFA;
    color: #004080;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    border: 2px solid #004080;
    border-radius: 5px;
    padding: 10px;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/* a.button {
   margin-top: 10px;
   margin-bottom: 85px;
   margin-left: 10%;
   margin-right: 5%;
   width: 250px;
} */

.login-link {
    font-family: 'Baloo', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 60%;
    background-color: #FFFFFA;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    border: 5px;
    border-radius: 5px;
    border-color: #004080;
    color: #0B3142;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding: 8px;
    border: 2px solid #004080;
}

.signup-link {
    font-family: 'Baloo', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 60%;
    background-color: #FFFFFA;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    border: 5px;
    border-radius: 5px;
    border-color: #004080;
    color: #0B3142;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding: 8px;
    border: 2px solid #004080;
}

label:hover, input:hover {
  cursor: pointer;
}

a {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
  width: 175px;
  height: 40px;
  color: #FFFFFA;
  background-color: #004080;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 100%;
  font-weight: bolder;
  padding: 6px 10px 24px;
  border-radius: 3px;
  transition-property: color, #29E7CD;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}



@media screen and (min-width: 479px) and (max-width: 991px) {
    table {
        font-weight: 300;
        max-width: 70%;
        font-size: 75%;
    }
    a.button {
        margin-top: 10px;
        margin-bottom: 85px;
        margin-left: 9%;
        margin-right: 4%;
        width: 35%;
        display: inline-block;
        vertical-align: top;
    }
    .signup-link {
        text-align: center;
        width: 19.8%;
    }
    .login-link {
        text-align: center;
        width: 15%;
    }
    .navbar-header {
        height: 100px;
    }
    .dropdown {
        width: 200px;
        height: 90px;
        float: right;
        top: 50px;
        position: relative;
        display: block;
    }
    .far {
        color: #FFFFFA;
        position: relative;
        left: 125px;
        top: -35px;
        padding-top: 10px;
        padding-left: 10px;
        /* padding-right: 10px; */
        padding-bottom: 10px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        left: 10px;
        top: 50px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .subnav {
        max-width: 80%;
    }
    .success-container {
        max-width: 50%;
    }
    .blurb {
        font-family: 'Francois One', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }
    .footy-link {
        color: black;
        display: block;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 991px) {
    table {
        font-weight: 600;
        max-width: 35%;
        font-size: 90%;
    }
    a.button {
        margin-top: 10px;
        margin-bottom: 85px;
        margin-left: 10%;
        margin-right: 5%;
        width: 32%;
        display: inline-block;
        vertical-align: top;
    }
    .signup-link {
        text-align: center;
        width: 15%;
    }
    .login-link {
        text-align: center;
        width: 15%;
    }
    .navbar-header {
        height: 100px;
    }
    .dropdown {
        width: 200px;
        height: 90px;
        float: right;
        top: 50px;
        position: relative;
        display: block;
    }
    .far {
        color: #FFFFFA;
        position: relative;
        left: 125px;
        top: -35px;
        padding-top: 10px;
        padding-left: 10px;
        /* padding-right: 10px; */
        padding-bottom: 10px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        left: 10px;
        top: 50px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .sub-nav {
        max-width: 70%;
    }
    .success-container {
        max-width: 40%;
    }
    .blurb {
        font-family: 'Francois One', sans-serif;
        font-weight: 400;
        font-size: 25px;
    }
    .footy-link {
        color: black;
        display: block;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }
}
