
<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <div class="container">

        <div class="success-container">

            <p class="blurb" aria-label="string">Think you know who is going to win this weeks premier league matches?</p>
            <p class="blurb" aria-label="string">Do your friends think you're full of it?</p>
            <p class="blurb" aria-label="string">Put your money where your mouth is (completely free of course!) and compete with other members to see
            who will be this weeks winners and losers in the English Premier League</p>
            <p class="blurb" aria-label="string">Be sure to check the results here at least every week (don't forget about midweek games!)</p>
            <p class="blurb" aria-label="string">Check the leaderboard to see how well you are doing!</p>

            <a class="login-link" href="/login">Login</a>
            <a class="login-link" href="/signup">Signup</a>
            <p class="testUser">Test username : demoUser</p>
            <p class="testUser">Test password : password</p>

        </div>

    </div>

    <% include ../partials/footer %>

</body>
</html>
