
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>


            <!-- LOGIN FORM -->
            <form class="login-signup" action="/login" method="post">
                <div class="form-group">
                    <label class="login-signup-label">Username</label>
                    <input type="text" class="form-control" name="userName" value="Muffinman">
                </div>
                <div class="form-group">
                    <label class="login-signup-label">Password</label>
                    <input type="password" class="form-control" name="password" value="1234">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>


            <p>Need an account? <a class="button" href="/signup">Signup</a></p>
            <p>Or go <a class="button" href="/">Home</a></p>

        </div>

    </div>

    <% include ../partials/footer %>

</body>
</html>
