
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <div class="page-header text-center">
        <h1 aria-label="string">Welcome, <%= user.local.userName %>!</h1>
    </div>

        <p>
            <strong>Points </strong>: <%= user.points %>
        </p>

        <a class="button" href="/leaderboard">Check Leaderboard</a>
        <a class="button" href="/predictions">Make Predictions</a>
        <a class="button" href="/updatePredictions">Change Predictions</a>
        <a class="button" href="/results">Check Results</a>
        <a class="button" href="/logout">Logout</a>

        <br>
        <br>
        <% include ../partials/footer %>

</body>
</html>
