
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <div class="page-header text-center">
        <h1 aria-label="string">Welcome, <%= user.local.userName %>!</h1>
    </div>

        <p>
            <strong>Points </strong>: <%= user.points %>
        </p>


        <% include ../partials/footer %>

</body>
</html>
