
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <div class="success-container">
        <h1 aria-label="string">Welcome, <%= user.local.userName %>!</h1>
    </div>

        <nav class="sub-nav">

            <a class="button" href="/leaderboard">Check Leaderboard<i class="profile fas fa-trophy fa-1x"></i></a>
            <a class="button" href="/predictions">Make Predictions<i class="profile fas fa-lightbulb fa-1x"></i></a>
            <a class="button" href="/updatePredictions">Change Predictions<i class="profile fas fa-edit fa-1x"></i></a>
            <a class="button" href="/results">Check Results<i class="profile fas fa-eye fa-1x"></i></a>

        </nav>

        <% include ../partials/footer %>

</body>
</html>
