<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

    <% include ../partials/header %>

        <div class="success-container">

            <h2 aria-label="string">LEADERBOARD</h2>

        </div>

        <table>

            <tr>
                <th role="columnheader" class="thin-col">Pos</th>
                <th role="columnheader">Name</th>
                <th role="columnheader" class="thin-col">Pts</th>
            </tr>

            <% for (let i = 0; i < data.length; i++) { %>

            <tr role="row" aria-live="polite">
                <td class="thin-col"><%= i+1 %></td>
                <td><%= data[i].local.userName %></td>
                <td class="thin-col"><%= data[i].points %></td>
            </tr>

            <% } %>

        </table>

        <% include ../partials/footer %>

    </body>
</html>
