<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h2>LEADERBOARD</h2>

        <ol>
            <% for(let i = o; i < user.length; i++) { %>
                <li>

                </li>
            <% } %>
        </ol>

        <br>
        <br>
        <a href="/predictions">Make Predictions</a>
        <a href="/results">Check Results</a>
    </body>
</html>
