<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

    <% include ../partials/header %>

        <h2>LEADERBOARD</h2>

        <table>

            <tr>
                <th class="thin-col">Pos</th>
                <th>Name</th>
                <th class="thin-col">Pts</th>
            </tr>

            <% for (let i = 0; i < data.length; i++) { %>

            <tr>
                <td class="thin-col"><%= i+1 %></td>
                <td><%= data[i][1].local.userName %></td>
                <td class="thin-col"><%= data[i][1].points %></td>
            </tr>

            <% } %>

        </table>

        <br>
        <br>
        <a class="button" href="/predictions">Make Predictions</a>
        <a class="button" href="/results">Check Results</a>
        <a class="button" href="/updatePredictions">Change Predictions</a>
        <a class="button" href="/profile">Home Page</a>

        <% include ../partials/footer %>

    </body>
</html>
