<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h2>LEADERBOARD</h2>

        <table>

            <tr>
                <th>Ranking</th>
                <th>Name</th>
                <th>Points</th>
            </tr>

            <tr>
                <th></th>
            </tr>
        </table>

        <br>
        <br>
        <a href="/predictions">Make Predictions</a>
        <a href="/results">Check Results</a>
        <a href="/update-predictions">Change Predictions</a>
    </body>
</html>
