<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h1>SUCCESS - You have posted your predictions!</h1>


        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/results">Check Results</a>
        <a href="/update-predictions">Change Predictions</a>
    </body>
</html>
