<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h2>PREDICTIONS</h2>

        <table style="width:100%">
            <tr>
                <th>Home</th>
                <th>Score</th>
                <th>Away</th>
                <th>Score</th>
            </tr>

            <% include ../partials/prediction-fixtures%>

        </table>

        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/results">Check Results</a>
        <br>
        <br>
        <button type="submit">Submit Predictions</button>
    </body>
</html>
