<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <% include ../partials/head %>

    </head>

    <% include ../partials/header %>

    <body method="get" action="game-pages/predictions-posted">
        <h1 class="success" aria-label="string">SUCCESS!</h1>
        <h2 aria-label="string">You have posted your predictions!</h2>

        <h3 aria-label="string">Time to put your feet up and watch some Football</h3>

        <% include ../partials/footer %>

    </body>
</html>
