<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h2>PREDICTIONS</h2>

        <table style="width:100%">
            <tr>
                <th>Home</th>
                <th>Score</th>
                <th>Away</th>
                <th>Score</th>
            </tr>
            <tr>
                <th>Wolves</th>
                <th>1</th>
                <th>Man City</th>
                <th>1</th>
            </tr>
            <tr>
                <th>Goons</th>
                <th>3</th>
                <th>West Ham</th>
                <th>1</th>
            </tr>
            <tr>
                <th>Bournemouth</th>
                <th>2</th>
                <th>Everton</th>
                <th>2</th>
            </tr>
            <tr>
                <th>Huddersfield</th>
                <th>0</th>
                <th>Cardiff city</th>
                <th>0</th>
            </tr>
            <tr>
                <th>Southampton</th>
                <th>1</th>
                <th>Leicester</th>
                <th>2</th>
            </tr>
            <tr>
                <th>Liverpool</th>
                <th>1</th>
                <th>Brighton</th>
                <th>0</th>
            </tr>
            <tr>
                <th>Watford</th>
                <th>2</th>
                <th>Crystal Palace</th>
                <th>1</th>
            </tr>
            <tr>
                <th>Fulham</th>
                <th>4</th>
                <th>Burnley</th>
                <th>2</th>
            </tr>
            <tr>
                <th>Newcastle</th>
                <th>1</th>
                <th>Chelsea</th>
                <th>2</th>
            </tr>
            <tr>
                <th>Man. Utd</th>
                <th>0</th>
                <th>Tottenham</th>
                <th>3</th>
            </tr>
        </table>

        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/results">Check Results</a>
    </body>
</html>
