<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h2>PREDICTIONS</h2>

        <table style="width:100%">
            <tr>
                <th>Home</th>
                <th>Score</th>
                <th>Away</th>
                <th>Score</th>
            </tr>
            <tr>
                <th class="fixture-1-home">Wolves</th>
                <th><input class="score" type="text" placeholder="0" required> </th>
                <th class="fixture-1-away">Man City</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-2-home">Goons</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-2-away">West Ham</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-3-home">Bournemouth</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-3-away">Everton</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-4-home">Huddersfield</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-4-away">Cardiff city</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-5-home">Southampton</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-5-away">Leicester</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-6-home">Liverpool</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-6-away">Brighton</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-7-home">Watford</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-7-away">Crystal Palace</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-8-home">Fulham</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-8-away">Burnley</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-9-home">Newcastle</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-9-away">Chelsea</th>
                <th><input class="score" type="text"> </th>
            </tr>
            <tr>
                <th class="fixture-10-home">Man. Utd</th>
                <th><input class="score" type="text"> </th>
                <th class="fixture-10-away">Tottenham</th>
                <th><input class="score" type="text"> </th>
            </tr>
        </table>

        <a href="/leaderboard">Check Leaderboard</a>
        <a href="/results">Check Results</a>
        <br>
        <br>
        <button type="submit">Submit Predictions</button>
    </body>
</html>
