<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head %>
    </head>
    <body>
        <h1>Changed Your Mind?</h1>
        <h2>My current predictions</h2>
        <p>"pull this users predictions from database to here"</p>
    </body>
</html>
